<section class="profileContainer">
  <div class="userSection">
    <div class="userAndControls">
      <div class="userDetails">
        <div class="profilePic">
          <img ng-src="{{ userShow.user.image }}" alt="" />
        </div>
        <div class="textContainer">
          <p>{{ userShow.user.firstName }} {{ userShow.user.lastName }}</p>
          <p>
            {{ userShow.user.bio }}
          </p>
        </div>
      </div>
      <div class="">
        <button type="button" name="button" ng-if="userShow.profileIsCurrentUser">Edit</button>
        <button type="button" name="button" ng-click="userShow.follow({ id: userShow.user._id })" ng-if="!userShow.profileIsCurrentUser && !userShow.followingUser">Follow</button>
        <button type="button" name="button" ng-click="userShow.follow( {id: userShow.user._id})" ng-if="!userShow.profileIsCurrentUser && userShow.followingUser">Following</button>
      </div>
    </div>
    <div class="socialDetails">
      <div class="">
        <p>
          {{ userShow.user.following.length }}
        </p>
        <p>
          Following
        </p>
      </div>
      <div class="">
        <p>
          {{ userShow.followers.length }}
        </p>
        <p>
          Followers
        </p>
      </div>
    </div>
  </div>
  <toggle is-active="login.isActive" first-value="Feed" second-value="Map"></toggle>

  <create-post ng-if="userShow.profileIsCurrentUser && !login.isActive"></create-post>


  <div class="contentSection">
    <div ng-controller="ProfileFeedController as profileFeed" class="feedSection card-container">
      <div ng-if="!login.isActive" ng-repeat="post in profileFeed.all" class="card feedView">
        <card></card>
      </div>
      <div ng-if="login.isActive" class="mapView">
        <section>
          <google-map posts="profileFeed.all"></google-map>
        </section>
      </div>
    </div>
  </div>
</section>
