<section class="card inputBox newPost" ng-controller="UploadController as upload" ng-class="{active: createPost.formVisible}" ng-click="createPost.toggleForm()">
  <h3>Add a new post...</h3>
  <form novalidate ng-submit="createPost.create()">
    <input type="text" placeholder="Title" ng-model="createPost.post.title">
    <div class="">
      <input id="pac-input" ng-click="createPost.autoComplete()" type="text" value="{{ createPost.formattedLocation }}" placeholder="Location">
      <input type="hidden" value="{{ createPost.location.lat }}" ng-model="createPost.submitLat">
      <input type="hidden" value="{{ createPost.location.lng }}" ng-model="createPost.submitLng">
    </div>
    <drag-drop base64="createPost.post.base64" src="createPost.post.image"></drag-drop>
    <div class='bodyTextInputBox' ta-toolbar="[['h1','h2','h3']]" text-angular ng-model="createPost.post.bodyText"></div>
    <button>Submit</button>
  </form>
</section>
