<div class="parallax">
  <div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base" style="background-image:url('../assets/images/inlelakefisherman.jpg')">
      <img class="mainLogo" src="/assets/images/logo.svg" alt="" />
    </div>
  </div>

  <div id="group2" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">your journey starts here...</div>
    </div>
    <div class="parallax__layer parallax__layer--back" style="background-image:url('../assets/images/mountain.jpg')">
      <div class="title"></div>
    </div>
  </div>

  <div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--base" style="background-image:url('../assets/images/trailer.jpg')">
      <div class="title">Trail is your personal travel companion. Create your own profile and follow others to stay connected while on the go.</div>
    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="title"></div>
    </div>
  </div>

  <div id="group4" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Create a profile and share your travel moments with others at the click of a button. It's as simple as that.</div>
    </div>
    <div class="parallax__layer parallax__layer--back" style="background-image:url('../assets/images/lady.jpg')">
      <div class="title"></div>
    </div>
  </div>


  <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--base" style="background-image:url('../assets/images/newtent.jpg')">
      <div class="title">Welcome.</div>
      </div>
    </div>
  <footer>&copy; 2016. Website produced by OTN web development Ltd.</footer>
