<div class="signInContainer">
  <div class="formContainer">
    <toggle is-active="login.isActive" first-value="Login" second-value="Register"></toggle>
    <!-- LOGIN FORM -->
    <form ng-controller="LoginController as login" class="loginForm" ng-if="!login.isActive" novalidate ng-submit="login.submit()">
      <div>
        <input class="u-full-width" type="email" placeholder="Email" ng-model="login.credentials.email">
      </div>
      <div>
        <input class="u-full-width" type="password" placeholder="Password" ng-model="login.credentials.password">
      </div>
      <button>Login</button>
    </form>

    <!-- REGISTER FORM -->
    <form ng-controller="RegisterController as register" class="registerForm" ng-if="login.isActive" novalidate ng-submit="register.submit()">
      <div>
        <input class="u-full-width" type="text" placeholder="First Name" ng-model="register.user.firstName">
      </div>
      <div>
        <input class="u-full-width" type="text" placeholder="Last Name" ng-model="register.user.lastName">
      </div>
      <div>
        <input class="u-full-width" type="email" placeholder="yourname@example.com" ng-model="register.user.email">
      </div>
      <div>
        <input class="u-full-width" type="password" placeholder="Password" ng-model="register.user.password">
      </div>
      <div>
        <input class="u-full-width" type="password" placeholder="Confirm Password" ng-model="register.user.passwordConfirmation">
      </div>
      <button>Register</button>
    </form>


<button ng-click="login.authenticate('instagram')" class="btn btn-social btn-instagram">Sign in with Instagram</button>


<button ng-click="login.authenticate('facebook')" class="btn btn-social btn-facebook">Sign in with Facebook</button>

</div>
</div>
