<section class="profileContainer">
  <div class="userSection">
    <div class="userDetails">
      <div class="profilePic">
        <img src="{{ userShow.user.image }}" alt="" />
      </div>
      <div class="textContainer">
        <p>{{ userShow.user.firstName }} {{ userShow.user.lastName }}</p>
        <p>
          {{ userShow.user.bio }}
        </p>
      </div>
    </div>
    <div class="socialDetails">
    </div>
  </div>
  <toggle is-active="login.isActive" first-value="Feed" second-value="Map"></toggle>
  <div class="contentSection">
    <div ng-controller="ProfileFeedController as profileFeed" class="feedSection card-container">
      <div ng-repeat="post in profileFeed.all" class="card">
        <card></card>
      </div>
    </div>
  </div>
</section>
