<!DOCTYPE html>
<html ng-app="travelApp">
  <head>
    <meta charset="utf-8">
    <title>travelApp</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/style.css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVEKU680VOtQBi2vvvVg2TNnL-TaZxiqc"
  type="text/javascript"></script>
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>

  </head>
    <body ng-controller="MainController as main">
    <header>
      <div class="mainHeader">
        <div>
          <a class="projectLogo" ui-sref="feed">trail.</a>
        </div>
        <div>
          <img class="icon" src="/assets/images/search.svg" ng-click="main.searchBoxOpen = !main.searchBoxOpen" alt="Search" />

          <a ng-if="!main.isLoggedIn()" ui-sref="login">
            <div class="signIn">
              Sign in / Register
            </div>
          </a>
          <div ng-click="main.navToggle = !main.navToggle" ng-if="main.isLoggedIn()" class="profilePic">
            <img ng-src="{{ main.currentUser.image }}"></img>
          </div>
        </div>

      </div>
      <div ng-show="main.searchBoxOpen" class="searchContainer">
        <input type="text" ng-model="main.searchTerm" ng-change="main.search()" placeholder="Search...">
        <div class="searchResults">
          <div class="result" ng-repeat="user in main.allUsers">
            <a ui-sref="profile({ id: user._id })">
              <div class="profilePic">
                <img ng-src="{{ user.image }}"></img>
              </div>
              <p>
                {{ user.firstName }} {{ user.lastName }}
              </p>
            </a>
          </div>
        </div>
      </div>
    </header>

    <nav ng-class="{'active' : main.navToggle}">
      <ul>
        <li><a ui-sref="profile({ id: main.currentUser._id })">Profile</a></li>
        <li ng-click="main.logout()">Logout</li>
      </ul>
    </nav>

    <main class="container" ui-view>

    </main>



  </body>

</html>
