@import "variables";
@import "fonts";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

body {
  background-color: $background-grey;
  color: $text-black;
  font-family: 'montserrat', sans-serif;
  font-weight: lighter;
  margin: 0;

  // Global Styles
  .icon{
    height: 25px;
    cursor: pointer;
    @include transition(all 200ms ease-in-out);
    &:hover{
      transform: scale(1.07);
    }
  }

  header {
    position: fixed;
    top:0;
    z-index: 10;
    @include display(flex);
    @include flex-direction(column);
    .searchContainer {
      input{
        width: 230px;
        height: 60px;
        padding: 10px;

      }
      width: 230px;
      background-color: #fff;
      border: none;
      position: relative;
      box-shadow: 0 0px 2px 0px $text-black;
      right: -50%;
      .searchResults{
        position: relative;;
        top: 0;
        right: 0;
        .result{
          width: 230px;
          background: white;
          height: 60px;
          border-top: 1px solid grey;
          line-height: 60px;
          text-align: center;
          @include display(flex);
          .profilePic{
            margin: auto 20px;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            overflow: hidden;
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            cursor: pointer;
            img{
              max-height: 60px;
            }
            border-bottom: 1px solid black;
          }
        }
        .signIn{
          border: 1px solid $main-teal;
          border-radius: $border-radius-pill;
          padding: 5px 10px;
          cursor: pointer;
          color: $main-teal;
          @include transition(all 200ms ease-in-out);
          &:hover{
            color: white;
            background-color: $main-teal;
          }
        }
      }
    }
    .mainHeader{
      background: white;
      width: 100vw;
      height: 80px;
      margin: 0;
      padding: 0 25px;
      box-shadow: 0 2px 2px -2px $text-black;
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);
      @include flex-direction(row);
      z-index: 10;
      div{
        &:nth-child(2){
          @include display(flex);
          @include justify-content(space-between);
          @include align-items(center);
          @include flex-direction(row);
          .icon, .profilePic {
            margin: 0 20px;
          }
          .signIn{
            border: 1px solid $main-teal;
            border-radius: $border-radius-pill;
            padding: 5px 10px;
            cursor: pointer;
            color: $main-teal;
            @include transition(all 200ms ease-in-out);
            &:hover{
              color: white;
              background-color: $main-teal;
            }
          }
          .profilePic{
            border-radius: 50%;
            height: 50px;
            width: 50px;
            overflow: hidden;
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            cursor: pointer;
            img{
              max-height: 60px;
            }
          }
        }
      }
    }
  }
  nav{
    position: fixed;
    top: 80px;
    right: 0;
    width: 135px;
    background: white;
    z-index: 99;
    ul{
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;
      li{
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-top: 1px solid grey;
        text-align: center;
        a{
          text-decoration: none;
          &:hover{
            text-decoration: none;
            color: red;
          }
        }
        &:hover{
          color: red;
        }
      }
    }
  }
  main{
    padding-top: 20px;
    margin-top: 80px;
    height: 200vh;
    .card-container{
      .card{
        z-index: -1;
        img{
          max-width: 100%;
        }
      }
    }
    .toggle-container{
      height: 50px;
      width: 300px;
      border-radius: $border-radius-pill;
      background-color: rgba(17, 157, 164 ,0.1);
      color: $main-teal;
      cursor: pointer;
      .full{
        position: relative;
        height: 0;
        line-height: 50px;
        @include display(flex);
        @include justify-content(space-around);
        z-index: 1;
        span{
          @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.35));
          &:first-child{
            color: white;
          }
        }
        &.active{
          span{
            &:first-child{
              color: $main-teal;
            }
            &:nth-child(2){
              color: white;
            }
          }
        }
      }
      .toggle{
        height: 50px;
        width: 150px;
        border-radius: $border-radius-pill;
        background-color: $main-teal;
        @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.35));
        position: relative;
        right: 0px;
        &.active{
          right: -150px;
        }
      }
    }
    .profileContainer{
      @include display(flex);
      @include justify-content(center);
      @include flex-direction(column);
      @include align-items(center);
      .userSection{
        @include display(flex);
        @include justify-content(center);
        @include align-items(flex-start);
        @include flex-direction(column);
        width: 600px;
        background: white;
        height: 150px;
        border-radius: 7px;
        box-shadow: 0px 0px 1px $text-black;
        font-weight: lighter;
        .userDetails{
          @include display(flex);
          @include flex-direction(row);
          .textContainer{
            p{
              margin: 0;
              &:first-child{
                color: $main-teal;
              }
            }
          }
          .profilePic{
            border-radius: 50%;
            height: 50px;
            width: 50px;
            overflow: hidden;
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            cursor: pointer;
            margin: 0 20px;
            img{
              max-height: 60px;
            }
          }
          div{

          }
        }
        .socialDetails{

        }
      }
      .contentSection{
        .feedSection{

        }
      }
    }
  }
  .signInContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    .formContainer{
      background-color: white;
      height: 500px;
      width: 500px;
      border-radius: $border-radius-project;
      @include display(flex);
      @include justify-content(flex-start);
      @include align-items(center);
      @include flex-direction(column);
      form{
        width: 65%;
      }
      .toggle-container{
        margin: 50px 0;
      }
    }
  }

  .google-map {
    width: 800px;
    height: 600px;
  }
}
